@import "siteConfig";

.app-header {
  width: 100%;
  background-color: $black;
  color: white;
  height: 60px;

  > div {
    display: inline-block;
  }

  .app-logo {
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;

    .siteLogo {
      background: url('../images/sports-logo.png') no-repeat;
      width: 200px;
      height: 42px;
      display: inline-block;
    }
  }
  .small-button {
    float: right;
    margin: 17px;
  }

  .register-btn {
    color: $white;
    float: right;
    margin: 21px 3px 13px 17px;
    transition: color 0.5s ease;

    &:hover {
      color: $green;
    }
  }
}
