@import "siteConfig";

.app-register {
  background: transparent url('../images/opening_image.jpg') left top no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .app-logo {
    display: block;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: $black;
    text-align: center;
    padding-top: 7px;

    .siteLogo {
      background: url('../images/sports-logo.png') no-repeat;
      width: 200px;
      height: 42px;
      display: inline-block;
    }
  }

  .register-form {
    background-color: rgba(255,255,255,0.8);
    width: 430px;
    border: 1px solid $gray;
    margin: 130px auto;
    border-radius: 3px;
    direction: rtl;
    padding: 0;

    .form-inner {
      padding: 15px;

      input {
        margin-bottom: 20px;
      }

      .help-block {
        margin: 0 0 3px 0;
        display: inline-block;
      }

      p {
        margin-bottom: 15px;
        text-align: center;
      }

      .terms_and_services {
        text-align: right;
      }

      .register-btn {
        background-color: $orange;
        width: 100%;
        font-size: 16px;
        padding: 8px 18px;
        height: 35px;
        border: 0;

        &:hover {
          background-color: $dark-orange;
          -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
          -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
          box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        }
      }

      .already-registered {
        margin-top: 10px;  
      }

    }

  }
}
