@font-face {
    font-family: "custom-bold";
    src:  url('/fonts/SecularOne-Regular.ttf')  format('truetype'),
          url('/fonts/SecularOne-Regular.woff')  format('woff');

    font-family: "custom-regular";
    src:  url('/fonts/MiriamLibre-Regular.ttf')  format('truetype'),
          url('/fonts/MiriamLibre-Regular.woff')  format('woff');
}

/* phone */
@media only screen and (max-device-width: 480px) {
  body {
    font-family:  "custom-regular",Roboto, Arial, sans-serif;
    background: #ECEFF1;
    color: rgba(0,0,0,0.87);
    text-align: center;
    padding-top: 55px;
    font-size: 25px;
    /*background-image: url("/images/running.jpg");
    background-repeat:no-repeat;
    background-size: 100% 1000px;*/
  }

  .header-title {
    font-family:  "custom-bold",Roboto, Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
  }

  .header-sub-title {
    font-size: 15px;
    text-align: center;
    margin-top: 0;
    color: #757575;
  }


}

/* desktop */
@media only screen and (min-device-width: 482px) {
  body {
    font-family:  "custom-regular",Roboto, Arial, sans-serif;
    background: #ECEFF1;
    color: rgba(0,0,0,0.87);
    background-image: url("/images/running.jpg");
    background-repeat:no-repeat;
    background-size: 100% 1000px;
  }

  .header-title {
    font-family:  "custom-bold",Roboto, Arial, sans-serif;
    text-align: center;
    padding-top: 25px;
    font-size: 60px;
  }

  .header-sub-title {
    font-size: 23px;
    text-align: center;
    margin-top: 0;
    color: #757575;
  }
}

#uploader {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-bottom: 10px;
}
